                    <!--Category Tabs Box-->
                    <div class="category-tabs-box contact_box">
                        <!--Product Tabs-->
                        <div class="prod-tabs tabs-box">
                        
                            <!--Tab Btns-->
                            <div class="tab-btns tab-buttons clearfix">
                            	<div class="pull-left">
                                	<div class="category">{% trans %}contact{% endtrans %}</div>
                                </div>                            	
                            </div>
                            
                            <!--Tabs Container-->
                            <div class="tabs-content">
                                
                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="economy-all">
                                    <div class="content">
										<p>Vous souhaitez obtenir des informations financières, contactez-nous :</p>
										<a href="{{ url('page', { 'slug': page_contact.slug}) }}" class="reply-btn">Contact</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    <!--End Category Info Tabs-->