<!--<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Site en cours de maintenance</title>
    </head>
    <body>
        <img src="http://localhost-trigano-finance.com/images/logo.png">
        <h1>Site en cours de maintenance</h1>
        <p>Le site est en cours de maintenance ! </p>
    </body>
</html>
-->

<!doctype html>
<title>Site en cours de maintenance</title>
<style>
  body { margin:50px auto; max-width: 600px; text-align: center; background-color: #f6f6f6; font: 20px Helvetica, sans-serif; color:#6a6a6a;}
  h1 { font-size: 50px; }
</style>

<body>
    <img src="http://localhost-trigano-finance.com/images/logo.png">
    <h1>Site en cours de maintenance </h1>
    <p>Veuillez nous excuser pour la gêne occasionnée ! </p>
    <hr>
    <p><i>Site under maintenance</i></p>
    <p><i>Sorry for the inconvenience, we will get back soon !</i></p>
</body>